*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0px;
}

body {
	background-color: var(--color-bg-tertiary);
	color: var(--color-text-primary-alpha);
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	min-height: 100vh;
}

h1 {
	color: var(--color-text-quaternary-alpha);
	font-size: 1.875rem;
	font-weight: 500;
	letter-spacing: 0.025rem;
}

p {
	font-size: 1rem;
	padding: 0px;
}

button {
	background-color: var(--color-accent-whitesmoke);
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	color: var(--color-text-secondary);
	cursor: pointer;
	padding: 6px 12px;
	width: auto;

	&:not(.tile):hover {
		box-shadow: 2px 2px 4px var(--box-shadow);
		color: var(--color-text-primary);
	}
}
