*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg-tertiary);
	color: var(--color-text-primary-alpha);
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	min-height: 100vh;
}

h1 {
	color: var(--color-text-quaternary-alpha);
	font-size: 1.875rem;
	font-weight: 500;
	letter-spacing: 0.025rem;
}
