#root {
	flex-grow: 1;
}

.puzzle {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0 auto;
	width: 100%;

	header {
		padding: 24px 0 0;
		text-align: center;
	}

	footer {
		.win-container,
		.hud-container {
			display: flex;
			margin: 0 auto;
			max-width: 640px;
			padding: 0 48px;
		}

		.win-container {
			align-items: center;
			flex-direction: column;
			gap: 12px;
		}

		.hud-container {
			align-items: center;
			justify-content: space-between;
			margin-top: 24px;

			p {
				flex: 1;
			}

			p:first-of-type {
				text-align: left;
			}

			p:last-of-type {
				text-align: right;
			}
		}
	}
}
